body,
button {
  font-family: monospace;
}

.playingCards .card {
  font-family: 'Arbutus Slab', serif;
}

#controlButtons {
  margin-bottom: 30px;
}

.playerName {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 15px;
}

.container {
  margin-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#settingsForm {
  padding-left: 40px;
}

#settingsForm .setting {
  margin-bottom: 10px;
}
