<!DOCTYPE html>
<html>

<head>
  <title>Higher or Lower</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/cards.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">
    <div align="center">
      <h1>Higher or Lower &#x1F0CF;</h1>
      <h2 v-html="subtitle()"></h2>
      <div id="controlButtons">
        <button v-on:click="play(true)" :disabled="gameOver">Higher</button>
        <button v-on:click="play(false)" :disabled="gameOver">Lower</button>
        <button v-on:click="reset()">Reset</button>
      </div>
      <div v-for="player in players" class="playingCards simpleCards">
        <p class="playerName">
          <b>{{ player.name }}</b>, Score: {{ player.score }}
        </p>
        <div v-for="card in player.cards" class="card" :class="card.getClass()">
          <span class="rank">{{ card.rank.toUpperCase() }}</span>
          <span class="suit" v-html="card.symbol()"></span>
        </div>
        <div v-for="_ in cardsRemaining(player)" class="card back">*</div>
      </div>
    </div>
    <div class="container">
      <p>Rules:
        <ul>
          <li>The rank ordering is:
            {{ ranks.map(r => r.toUpperCase()).join(", ") }}.</li>
          <li>If the rank is the same, the guess is incorrect.</li>
          <li>To win, a player must correctly guess the last
            card.</li>
          <li>If you are the last player, you must guess every remaining
            card correctly to win.</li>
        </ul>
      </p>
    </div>
    <div class="container">
      <p>Settings:</p>
      <form id="settingsForm" @submit="updateSettings">
        <label>Cards per Player: <span id="cardsPerPlayer"></span></label><br>
        <input id="cardsPerPlayerInput" class="setting" type="range" min="1"
          max="10"><br>
        <label>Players:</label><br>
        <textarea id="playerNamesInput" class="setting" rows="3"></textarea><br>
        <label>
          Dark Mode: <input id="darkModeInput" class="setting" type="checkbox">
        </label><br>
        <button>Update</button>
      </form>
    </div>
  </div>

  <script src="js/main.js"></script>
</body>

</html>