body,
button,
input {
  font-family: monospace;
}

#app {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

#title {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .row {
    display: flex;
  }

  .container {
    flex: 50%;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

#player-table td, th {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#item {
  border: gray 1px solid;
  border-radius: 10px;
  padding: 0px 10px;
  text-align: center
}

#item img {
  max-width: 225px;
  width: 100%;
}

#priceInput {
  width: 50px;
}

#nameInput {
  width: 175px;
}
